<ul class="nav-list">
  <li class="nav-thoughts{{#is "page"}}{{#has slug="thoughts"}} nav-current{{/has}}{{/is}}">
    <a href="{{@site.url}}/thoughts/">Thoughts</a>
  </li>
  {{#foreach navigation}}
    {{#match slug "!=" "home"}}
      {{#match slug "!=" "thoughts"}}
        {{#match url "!=" "/"}}
          <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
            <a href="{{url absolute="true"}}">{{label}}</a>
          </li>
        {{/match}}
      {{/match}}
    {{/match}}
  {{/foreach}}
</ul>
