<header class="site-header shell">
  <a class="brand" href="{{@site.url}}">
    <span class="brand-log">OT</span>
    {{@site.title}}
  </a>
  <nav aria-label="Primary">
    {{navigation}}
  </nav>
</header>
